body {
   
    background-color: #eee
}

label.radio {
    cursor: pointer
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.radio span {
    padding: 4px 0px;
    border: 1px solid red;
    display: inline-block;
    color: red;
    width: 100px;
    text-align: center;
    border-radius: 3px;
    margin-top: 7px;
    text-transform: uppercase
}

label.radio input:checked+span {
    border-color: red;
    background-color: red;
    color: #fff
}

.ans {
    margin-left: 36px !important
}

.btn:focus {
    outline: 0 !important;
    box-shadow: none !important
}

.btn:active {
    outline: 0 !important;
    box-shadow: none !important
}













 
#result .body {
    background: linear-gradient(silver, beige);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#result .text-gray {
    color: #aaa
}

#result img {
    height: 170px;
    width: 140px
}
  
  
#result button {
    position: relative;
    margin: 0;
    padding: 5px 12px;
    height: 60px;
    width: 150px;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 1px solid #fa5818;
    border-radius: 10px;
    color: #ff4800;
    font-weight: 400;
    font-size: 20px;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  }
  #result button span {
    color:#ff4800;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
  }
  #result  button:hover {
    animation: rotate 0.7s ease-in-out both;
  }
  button:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }

  #result .lien {
    color: #ff4800;
    
    margin-left: 300px;
    
  }
  
   @keyframes rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  @keyframes storm {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }
  #result .btn-pill:before, .btn-pill:after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:#fa5818;
    content: "";
    opacity: 0;
    transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    z-index: -1;
    transform: translate(100%, -25%) translate3d(0, 0, 0);
    margin-left: 700px;
  }
  #result .btn-pill:hover:before, .btn-pill:hover:after {
    opacity: 0.15;
    transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  }
  #result .btn-pill:hover:before {
    transform: translate3d(50%, 0, 0) scale(0.9);
  }
  #result .btn-pill:hover:after {
    transform: translate(50%, 0) scale(1.1);
  }
  
  #result .btn-shine {
    border: 1px solid;
    overflow: hidden;
    position: relative;
  }
  #result .btn-shine span {
    z-index: 20;
  }
  #result .btn-shine:after {
    background: #38ef7d;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
  #result .btn-shine:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  #result .btn-slide-line.center:after {
    left: 50%;
  }
  #result .btn-slide-line:after {
    position: absolute;
    right: 0;
    left: auto;
    transition: 0.3s;
    content: "";
    width: 0;
    bottom: 0;
    height: 3px;
    background: #164ca7;
  }
  #result .btn-slide-line:hover {
    cursor: pointer;
  }
  #result .btn-slide-line:hover:after {
    width: 100%;
    left: 0;
  }
  
  #result .inspire a {
    text-decoration: none;
  }
  #result img { 
    width: 25%; 
    height: 25%; 
    object-fit: contain; 
} 


.social-box .box{
  background: #FFF;
  border-radius: 10px; 
  padding: 40px 10px;
  margin: 20px 0px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  position: relative;
  text-align: center;
}

#result .social-box .box:hover{
 box-shadow: 0 0 6px #ff4800;
}

#result .social-box .box .box-text{
  margin:20px 0px;
  font-size: 15px;
  line-height: 30px;
}

#result .social-box .box .box-btn a{
  text-decoration: none;
  color: #4183D7;
  font-size: 16px;
}


#result .nombre{
    content: counter(my-awesome-counter);
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    --size: 32px;
    margin-top: -8px;
    left: calc(-1 * var(--size) - 0px);
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    margin-left: 500px;
    text-align: center;
  }
  .questionsBox {
    display: block;
    border: solid 1px #e3e3e3;
    padding: 10px 20px 0px;
    box-shadow: inset 0 0 30px rgba(000,000,000,0.1), inset 0 0 4px rgba(255,255,255,1);
    border-radius: 3px;
    margin: 0 10px;
   /* margin-left: 150px;
    margin-right: 150px;*/
}.questions {
    /*background: #fc7c49;*/
    background: #ff4800;
    color: #FFF;
    font-size: 22px;
    padding: 8px 30px;
    font-weight: 300;
    margin: 0 -30px 10px;
    position: relative;
    
}
.questions:after {
   /* background: url(../img/icon.png) no-repeat left 0;*/
    display: block;
    position: absolute;
    top: 100%;
    width: 9px;
    height: 7px;
    content: '.';
    left: 0;
    text-align: left;
    font-size: 0;
}
.questions:after {
    left: auto;
    right: 0;
    background-position: -10px 0;
}
.questions:before, .questions:after {
    background: black;
    display: block;
    position: absolute;
    top: 100%;
    width: 9px;
    height: 7px;
    content: '.';
    left: 0;
    text-align: left;
    font-size: 0;
}
.answerList {
    margin-bottom: 15px;
}


ol, ul {
    list-style: none;
}
.answerList li:first-child {
    border-top-width: 0;
}

.answerList li {
    padding: 3px 0;
}
.answerList label {
    display: block;
    padding: 6px;
    border-radius: 6px;
    border: solid 1px #dde7e8;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px;
    line-height: normal;
}
.questionsRow {
    background: #dee3e6;
    margin: 0 -20px;
    padding: 10px 20px;
    border-radius: 0 0 3px 3px;
}
.button, .greyButton {
    background-color: #f2f2f2;
    color: #888888;
    display: inline-block;
    border: solid 3px #cccccc;
    vertical-align: middle;
    text-shadow: 0 1px 0 #ffffff;
    line-height: 27px;
    min-width: 160px;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 0px;
    text-transform: capitalize;
}
.questionsRow span {
    float: right;
    display: inline-block;
    line-height: 30px;
    border: solid 1px #aeb9c0;
    padding: 0 10px;
    background: #FFF;
    color: #007fbe;
}
.auto1{
  position: auto;
}
